@font-face {
	font-family: 'Avenir-Medium';
	src: url('https://s3.global-e.com/merchantscontent/HunzaG/fonts/avenir_medium.woff');
	font-weight: 400;
}
@font-face {
	font-family: 'Portrait-Regular';
	src: url('https://s3.global-e.com/merchantscontent/HunzaG/fonts/Portrait-Regular.woff');
}
:root {
	font-size: 16px;
	--gle-black: hsl(0, 0%, 0%);
	--gle-lighter-black: hsl(0, 0%, 17%);
	--gle-border-color: hsl(0, 0%, 85%);
	--gle-white: hsl(0, 0%, 100%);
	--gle-paragraph-font: 'Avenir-Medium', Arial, Helvetica, sans-serif;
	--gle-header-font: 'Portrait-Regular', Arial, sans-serif;
	--gle-button-letter-spacing: 0.1rem;
	font-family: var(--gle-paragraph-font) !important;
}
* {
	font-family: var(--gle-paragraph-font) !important;
}
.orders-tracking {
	display: flex;
	flex-flow: column wrap;
}
.orders-tracking h1 {
	font-family: var(--gle-header-font) !important;
}
.orders-tracking button,
.orders-tracking .button {
	background-color: var(--gle-black);
	border-radius: 0;
	text-transform: uppercase;
	transition: all 0.2s ease 0s;
	color: var(--gle-white);
	border: var(--gle-border-color);
}
.orders-tracking button:hover,
.orders-tracking button:focus,
.orders-tracking .button:hover,
.orders-tracking .button:focus {
	color: var(--gle-white);
	background-color: var(--gle-lighter-black);
	border: var(--gle-lighter-black);
}
.orders-tracking .logo {
	background: url(https://s3.global-e.com/merchantscontent/HunzaG/logo/HunzaG_Logo.png)
		center no-repeat;
	height: 130px;
	margin: 20px;
	background-position: center;
	width: inherit !important;
}
.orders-tracking .logo img {
	display: none;
}
.orders-tracking .formRow {
	margin: 0.75em 0;
}
.orders-tracking .order-status .current,
.orders-tracking .parcel-status .current {
	background-image: linear-gradient(
		to right,
		var(--gle-lighter-black) 0%,
		#70809075 66%,
		#7080903d 82%,
		#7080900e 100%
	);
	padding-right: 3px;
	color: var(--gle-white);
}
.orders-tracking .active .processing.status-icon,
.orders-tracking .delivered.active.current .status-icon,
.orders-tracking .active.current .status-icon,
.orders-tracking .active .status-icon {
	background-color: var(--gle-lighter-black);
}
