<div data-block="regular">
    <div data-attrrow-for="name">
        <div class="attr-name productName" data-content></div>
    </div>
    <div data-attrrow-for="Color" class="GemLitecolor">
        <div class="attr-key" data-resource="checkout.color">Color:</div>
        <div class="attr-value" data-content></div>
    </div>
</div>
<div data-block="mobile">
    <div data-attrrow-for="name">
        <div class="attr-name productName" data-content></div>
    </div>
    <div data-attrrow-for="Color" class="GemLitecolor">
        <div class="attr-key" data-resource="checkout.color">Color:</div>
        <div class="attr-value" data-content></div>
    </div>
    <div data-attrrow-for="custom" class="prod-summary-info">
        <span data-resource="checkout.ProductQty" class="qtyText"></span>:
        <b data-custom-prop="Quantity" class="qtyValue"></b>
        <div data-attrrow-for="total">
            <div class="attr-key attr-total-key">Total:</div>
            <div class="attr-value attr-total-value prod-price-mobile" data-content></div>
        </div>
    </div>