<div class="glDefaultPopupContainer" role='dialog' aria-describedby="GE_modal_switcher_label" aria-modal="true">
    <div class="glPopupContainer">
        <!-- <div class="glLogo">
            <img src='https://s3.global-e.com/merchantscontent/fairharbor/img/img__logo--white.png' />
        </div> -->
        <h2 id="GE_modal_switcher_label" class="sr-only">country switcher popup modal</h2>
        <div class="glTitle" data-key="Header"></div>
        <div class="glMainContent">
            <div class="dropDownRow" id="ge_countryRow">
                <div class="caption" data-key="CountryHeader"></div>
                <div class="dropdown" data-control="SelectedCountries"></div>
            </div>
            <div class="dropDownRow" id="ge_currencyrow">
                <div class="caption" data-key="CurrencyHeader"></div>
                <div class="dropdown" data-control="CurrenciesList"></div>
            </div>
        </div>
        <div class="glControls">
            <input class="glDefaultBtn glSaveBtn" type="button" data-key="SavenClose" data-key-type="value"
                data-action="SaveAndClose" />
            <input class="glDefaultBtn glCancelBtn" type="button" data-key="Cancel" data-key-type="value"
                data-action="Cancel" />
        </div>
    </div>
    <div class="glCloseWrapper">
        <button type="button" data-action="Close" data-key="cancel" data-key-type="AriaLabel">
            <span aria-hidden="true" data-action="Close" class="glClose" title="close" id="glClose"
                onclick="GlobalE.WelcomeManager.CloseWelcome();"></span>
        </button>
    </div>
</div>