<!-- <div class="img-container"></div> -->
<div class="glDefaultPopupContainer" role='dialog' aria-describedby="GE_modal_welcome_label" aria-modal="true">
    <div class="glPopupContainer">
        <!-- <div class="glLogo">
                <img src='https://s3.global-e.com/merchantscontent/LuxyHair/LX_LOGO.png' />
            </div> -->
        <h2 id="GE_popup_welcome_label" class="sr-only">Welcome popup</h2>
        <div class="glTitle" data-key="NowShipping"></div>
        <div class="texts">
            <!-- <div class="glMainContent desktop" data-key="Content"></div> -->
            <div class="glMainContent" data-key="customResource" data-key-data="Frugi.Welcome.Content.Default.1A"></div>
            <div class="glMainContent mobile" data-key="customResource" data-key-data="GemLite.welcome.Content.mobile">
            </div>
        </div>
        <div class="glControls">
            <input type="button" class="backToShop glDefaultBtn" data-key="continueShop" data-key-type="value"
                data-action="Close" />
            <a class="changeShipping" data-key="ChangeShippingCountry" href="#" data-action="ShippingSwitcher">
            </a>
        </div>
    </div>
    <div class="glCloseWrapper">
        <button type="button" data-action="Close" data-key="cancel" data-key-type="AriaLabel">
            <span aria-hidden="true" data-action="Close" class="glClose" title="close" id="glClose"
                onclick="GlobalE.WelcomeManager.CloseWelcome();"></span>
        </button>
    </div>
</div>