/* hiding content from visual, showing for screen-readers */
.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.rtl {
	direction: rtl;
	text-align: right;
}
