/* begin form elements */
@mixin btn {
	cursor: pointer;
	box-sizing: border-box;
	background-color: var(--gle_props_btn-bg);
	border-radius: var(--gle_props_btn-bRadius);
	text-transform: var(--gle_props_btn-transformText);
	transition: var(--gle_props_btn-transition);
	color: var(--gle_props_btn-color);
	border: var(--gle_props_btn-border);
	padding: var(--gle_props_btn-padding);
	font-family: var(--gle_props_btn-fontFam) !important;
	font-size: var(--gle_props_btn-fontSize);
	height: var(--gle_props_btn_height, unset);
	line-height: var(--gle_props_btn_lHeight, unset);
	letter-spacing: var(--gle_props_btn-ltrSpacing);
	min-width: var(--gle_props_btn-minWidth, unset);
	appearance: none;
	font-weight: var(--gle_props_btn-fWeight);
	outline: var(--gle_props_btn-outline);

	@media screen and (min-width: 576px) {
		letter-spacing: var(--gle_props_btn-ltrSpacing);
	}

	&:hover,
	&:focus {
		color: var(--gle_props_btn-color--hover, unset);
		background-color: var(--gle_props_btn-bg--hover, unset);
		border: var(--gle_props_btn-border--hover, inherit);
		outline: var(--gle_props_btn-outline--hover);
		box-shadow: var(--gle_props_btn-bShadow--hover, none);
	}

	&:focus {
		outline: var(--gle_props_btn-outline--focus, 0);
		outline-offset: var(--gle_props_btn-outline_offset--focus, 0);
	}
}

@mixin selectInput {
	font-family: var(--gle_font_family--p);
	font-size: 0.929rem;
	text-transform: none;
	pointer-events: all !important;
	width: 100%;
	display: block;
	min-height: 45px;
	padding: 0 15px;
	margin-bottom: 0;
	border: var(--gle_props_input-border);
	background-size: 18px;
	font-weight: normal;
	color: var(--gle_props_input-color);
	border-radius: var(--gle_props_input-bRadius);
	direction: ltr;
	background: url(https://s3.global-e.com/merchantscontent/general/DropdownArrow.png)
		calc(100% - 8px) no-repeat #fff;
	background-size: 11px;
	appearance: none;
	line-height: 48px;

	&:focus-visible {
		outline: 1px solid var(--gle_color_black);
	}

	&::-ms-expand {
		display: none;
	}
}
/* end form elements */

/* begin string replace for/and font face mixin */
@mixin font-face($name, $src, $weight: null, $style: null) {
	@font-face {
		font-family: $name;
		font-style: $style;
		font-weight: $weight;
		src: url($src);
	}
}
/* end string replace for/and font face mixin */
