.gle-modern-browser {
	&.custom-form-controls {
		.custom-radio-label {
			position: relative;

			&:before {
				background: unset;
				border: 1px solid #000;
				border-radius: 50%;
				position: absolute;
				left: -40px;
			}
		}

		.custom-radio-input:checked + .custom-radio-label:after {
			content: '';
			width: 8px;
			height: 8px;
			background: #000;
			position: absolute;
			left: -36px;
			top: 4px;
			border-radius: 50%;
		}

		#addressRadiosContainer {
			label {
				margin: 0 40px;
			}
		}

		#taxBoxInner {
			label {
				margin-left: 35px;
			}
		}

		&[data-direction='rtl'] {
			#addressRadiosContainer {
				label {
					&:before {
						right: -32px;
					}
				}
				.custom-radio-input:checked + .custom-radio-label:after {
					right: -28px;
				}
			}
		}

		&[data-direction='rtl'] {
			#taxBoxInner {
				label {
					margin: 0 30px !important;
					&:before {
						right: -19px;
					}
				}
				.custom-radio-input:checked + .custom-radio-label:after {
					right: -15px;
				}
			}
		}

		&[data-direction='rtl'] {
			#shippingOptionsContainer {
				label {
					margin: 0 25px !important;
					&:before {
						left: 45px;
					}
				}
				.custom-radio-input:checked + .custom-radio-label:after {
					left: 64px;
				}
			}
		}

		#shippingComponents fieldset,
		#addressRadiosContainer fieldset {
			padding: 0 15px;
		}
	}
}
