@forward './rootStyles';
@use './fontFam';
@use './radioBtn';

* {
	color: var(--gle_color_text);
	font-family: var(--gle_font_family--p);
}

:root {
	//overrides
	--gle_props_cartpop_border: 1px solid var(--gle_color_accent);
	--gle_props_cartpop_color_links: var(--gle_color_white);
	--gle_props_cartpop_header_color_bg: var(--gle_color_white);
	--gle_props_cartpop_header_color_text: var(--gle_color_text);

	--gle_props_generalhead_bg: var(--gle_color_white);
	--gle_props_generalhead_tTransform: none;
	--gle_props_generalhead_ltrspce: 2px;
}

// For checkbox select
.FSelect {
	border: var(--gle_props_input-border) !important;
	border-radius: var(--gle_props_input-bRadius);

	.FCurValue {
		font-family: var(--gle_font_family--p);
		font-size: 0.9375rem;
	}
}

.FSelect:focus-within {
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.has-success .FSelect:focus-within {
	border-color: #2b542c;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.has-error .FSelect:focus-within {
	border-color: #843534;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
