@forward './rootStyles';

:root {
	--gle_props_popups_border: 1px solid var(--gle_color_black);
	--gle_props_popups_color_bg: var(--gle_color_accent);
	--gle_props_popups_bShadow: 0px 3px 6px #00000040;
	--gle_props_popups_color_text: var(--gle_color_text);
	--gle_props_popups_color_links: var(--gle_color_white);
}

@mixin borderStyle {
	box-shadow: var(--gle_props_popups_bShadow, unset);
	border: var(--gle_props_popups-border);
}
