@forward './rootStyles';
@use './fontFam';

:root {
	font-size: 16px;

	--gle_color_black: hsl(0, 0%, 0%);
	--gle_color_black--light: hsl(0, 0%, 17%);
	--gle_color_white--accent: #e6e6e6;
	--gle_color_white: #fff;
	--gle_color_text: var(--gle_color_black);

	--gle_font_family--p: 'GT-Walsheim-Regular', -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, Helvetica,
		Arial, sans-serif;
	--gle_font_family--h: 'DrukWide-Medium';

	--gle_props_border-color: var(--gle_color_black);
	--gle_props_border-radius: 0;
	--gle_props_border-color--hover: var(--gle_color_white--accent);
	--gle_props_ltr-spacing--btn: 0.03125rem;
}
