@forward './../utils/mixins';
@use './../utils/globals';

:root {
	font-size: var(--typeBaseSize, 16px);

	// --------------------------------- merchant colors ---------------------------------
	--colorBtnPrimary: #cd627d;
	--colorBtnPrimaryHover: #b91600;
	--colorBtnPrimaryText: #ffffff;
	--colorTextBody: #000;
	--colorBody: #fff;
	--colorInputText: #000;
	// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ end merchant colors ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

	// --------------------------------- theme colors ---------------------------------
	--gle_color_black: #000000;
	--gle_color_black--light: hsl(0, 0%, 17%);
	--gle_color_white--accent: #e6e6e6;
	--gle_color_white: #fff;
	--gle_color_gray: #d9d9d6;
	--gle_color_text: var(--gle_color_black);
	--gle_color_accent: #ecc7cd;
	--gle_color_alert: red;
	// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ end theme colors ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

	// --------------------------------- font properties ---------------------------------
	--gle_font_family--p: 'Acta W01 Book', Georgia, serif;
	--gle_font_family--s: 'Futura LT W01 Heavy', Helvetica, sans-serif; //subtitle
	--gle_font_family--h: 'Acta W01 Book', Georgia, serif;
	// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ end font properties ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

	--gle_props_border-color: var(--gle_color_black);
	--gle_props_border-color--hover: var(--gle_color_white--accent);

	// --------------------------------- button properties ---------------------------------
	--gle_props_btn-bg: var(--colorBtnPrimary);
	--gle_props_btn-bg--hover: var(--colorBtnPrimaryHover);
	--gle_props_btn-border: 2px solid var(--colorBtnPrimary);
	--gle_props_btn-border--hover: 2px solid var(--colorBtnPrimaryHover);
	--gle_props_btn-bRadius: 0;
	--gle_props_btn-color: var(--colorBtnPrimaryText);
	--gle_props_btn-color--hover: var(--colorBtnPrimaryText);
	--gle_props_btn-fWeight: 400;
	--gle_props_btn-fontFam: var(--gle_font_family--s);
	--gle_props_btn-fontSize: 0.79012rem;
	--gle_props_btn_lHeight: 1.42;
	--gle_props_btn-ltrSpacing: 3px;
	--gle_props_btn-minWidth: 6rem;
	--gle_props_btn-padding: 1rem 2.36859rem;
	--gle_props_btn-outline: 0;
	--gle_props_btn-outline--hover: 0;
	--gle_props_btn-outline--focus: 2px solid #000 !important;
	--gle_props_btn-outline_offset--focus: 1px;
	--gle_props_btn-transition: all 150ms;
	--gle_props_btn-transformText: uppercase;
	// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ end button properties ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

	--gle_props_input-bRadius: 5px;
	--gle_props_input-border: 1px solid var(--gle_color_gray);
}
