@use './_partials/checkoutBase';

#pagePopup {
	#pagePopupHeader {
		background: var(--gle_props_cartpop_header_color_bg);
		color: var(--gle_props_cartpop_header_color_text);
		#pagePopupCloseBtn {
			float: right;
		}
		h4 {
			font-family: var(--gle_font_family--h);
		}
		&.modal-notitle {
			color: var(--gle_color_white);
			background: var(--gle_color_accent);
		}
		[data-direction='rtl'] & {
			#pagePopupCloseBtn {
				float: left;
			}
			h4 {
				float: right;
			}
		}
	}
	#pagePopupBody {
		font-family: var(--gle_font_family--p);
	}
	.modal-footer {
		button {
			@include checkoutBase.btn;
		}
	}
}

.footerLinkContainer {
	background: transparent;
	#footerLinks {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		column-gap: 1rem;
		a {
			font-size: 0.75rem;
			color: var(--gle_color_black);
			text-transform: uppercase;
			font-family: var(--gle_font_family--p);
		}
		@media screen and (min-width: 768px) {
			a {
				font-size: 1rem;
			}
		}
		span {
			color: transparent;
			display: none;
		}
	}
}

div#cv2wrap {
	// padding: 1.5rem;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	font-family: var(--gle_font_family--p);

	#cv2Body {
		font-family: var(--gle_font_family--p);
	}

	#geHeader {
		margin-top: 2rem;
		@media screen and (min-width: 768px) {
			margin-top: 3rem;
		}
	}

	@media screen and (min-width: 992px) {
		// padding: 3rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--gle_font_family--h);
	}

	p {
		font-family: var(--gle_font_family--p);
	}

	#confirmPage {
		h3 {
			font-family: var(--gle_font_family--p);
		}
		.order-details-top {
			font-family: var(--gle_font_family--p);
		}
		.conf-page-continue-shop {
			margin-top: 20px;
			button#ConfirmationContinueToShopButton {
				@include checkoutBase.btn;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
			}
		}

		.conf-box {
			font-family: var(--gle_font_family--p);
		}

		.deliveryInformationContainer {
			.pi-header {
				font-family: var(--gle_font_family--h);
				// text-decoration: underline;
			}
		}
	}
}

input[type='text'],
input[type='tel'] {
	border-radius: 5px;
	border: var(--gle_props_input-border);
}

#langSelectionHeader {
	padding: 0.7rem;
	border: var(--gle_props_input-border);
	border-radius: var(--gle_props_input-bRadius);
	margin-bottom: 1.4rem;
	font-family: var(--gle_font_family--p);
}
div.astrsk {
	font-size: 0.5em;
	margin-left: 0;
	color: var(--gle_color_text);
	margin-bottom: 9px;
}

label,
label.fcap {
	font-size: 0.95em;
	font-family: var(--gle_font_family--p) !important;
}
.form-control {
	font-family: var(--gle_font_family--p) !important;
}

.sectionheader .generalhead,
.generalhead,
.sectionheader {
	font-family: var(--gle_font_family--h);
	text-transform: var(--gle_props_generalhead_tTransform);
	font-weight: 500;
	letter-spacing: var(--gle_props_generalhead_ltrspce);
	background: var(--gle_props_generalhead_bg);
	color: var(--gle_color_text);
	border-bottom: 1px solid #a4a4a4;
	font-size: 1rem;
}
.sectionheader {
	letter-spacing: var(--gle_props_generalhead_ltrspce);
}
.boxWrapper {
	#productsHeader {
		div:not(.generalhead) {
			font-size: 0.8125rem;
			letter-spacing: 0;
		}
	}
	#productContainer {
		display: flex;
		flex-flow: row wrap;
		width: 100%;
		div.item {
			width: 100%;
			font-family: var(--gle_font_family--p);

			div[data-custom='true'] .attr-value {
				font-weight: normal;
			}
		}
		h4.productName,
		.productName {
			font-family: var(--gle_font_family--h);
			font-size: 1rem;
			font-weight: 700;
		}
		p {
			font-size: 0.9rem;
			display: none;
		}
	}
	.prod-summary-info {
		display: flex;
		gap: 5px;
		flex-flow: row wrap;
		// justify-content: space-between;
		text-transform: uppercase;
		// margin-top: 2.4rem;
	}
}

#minitotalsContainer {
	width: 100%;
	div {
		padding: 0.5rem;
		font-family: var(--gle_font_family--p);
	}
	[data-direction='rtl'] & div {
		float: left;
		direction: rtl;
		margin-left: 0;
		text-align: left;
	}

	.minitotals-col-price,
	.minitotals-col-caption {
		width: max-content;
	}
}

#shipping-billing-container {
	input[type='text'],
	input[type='tel'],
	select {
		border-radius: var(--gle_props_input-bRadius);
		border: var(--gle_props_input-border);
	}

	.astrsk {
		margin-left: 2px;
	}

	label[for='BillingFirstName'] .astrsk {
		margin-left: -3px;
	}
	label[for='Email'] .astrsk {
		margin-left: 1px;
	}

	.so-service {
		font-family: var(--gle_font_family--p);
	}

	#deliveryBox {
		#addressRadiosContainer {
			margin-left: 0;
		}
		#shippingAddressWrapper {
			padding: 0;
		}
		.generalhead.shipping {
			padding-left: 15px !important;
		}
	}
}
#shippingComponents,
#taxBox {
	.astrsk {
		color: var(--gle_color_text);
		font-size: 0.5rem !important;
		margin-left: -5px;
		margin-bottom: 16px;
	}
}

#shippingComponents #shippingOptionsContainer {
	.shipping-method-extra-content span {
		color: var(--gle_color_alert) !important;
	}

	.row {
		background: none;
	}
}

#paymentsummaryContainer {
	#totalsContainer {
		font-family: var(--gle_font_family--p);

		#BillingSummaryTotalPriceLabel {
			font-family: var(--gle_font_family--p);
		}
	}

	#summaryBox {
		background: none;

		.default-offer-line {
			margin-top: 17px;
		}
		#GiftCardForm {
			.giftcards-item-CardId {
				height: 40px;
				#CardId {
					height: 100%;
				}

				button#ApplyGiftCard {
					@include checkoutBase.btn;
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
				}
			}
		}
	}

	#taxMessageContainer {
		font-family: var(--gle_font_family--p);
	}
	#voucherAndCouponsCoantainer {
		.row {
			display: flex;
			width: 100%;
			flex-flow: row nowrap;
			margin-left: 0;
			justify-content: space-between;

			#voucherFieldDiv {
				// width: 100%;
				padding: 0;

				#voucherInput {
					width: 100%;
					height: 100%;
					margin: 0;
					&::placeholder {
						color: var(--gle_color_text);
					}
				}
				& + div {
					width: max-content;
					padding: 0;
					font-size: 0.9rem;
				}
			}
		}
		button#applyVoucherBtn {
			@include checkoutBase.btn;
		}
	}

	#pmGlobalWrapper {
		padding: 0;

		#paymentWrapper {
			background: none;
		}

		#cardsShow {
			flex-flow: row wrap;
			justify-content: space-evenly;
		}

		div.astrsk {
			font-size: 0.5em;
			margin-left: 0;
			color: var(--gle_color_black);
			margin-bottom: 9px;
		}

		label[for='cardNum'] .astrsk {
			margin-left: 1px;
		}

		input[type='text'],
		input[type='tel'],
		select {
			border-radius: 5px;
			border: var(--gle_props_input-border);
		}
	}
	input#voucherInput {
		min-width: 200px;
		border-radius: var(--gle_props_input-bRadius);
		border: var(--gle_props_input-border);
	}
	#pmContainer {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 2px;
	}
	#paymentMessageContainer {
		text-align: center;
		margin-top: 1rem;
	}
}

#paymentButtonBox {
	.pay-button-wrapper {
		display: flex;
		justify-content: center;
	}
	.tac-column.tnCConsentContainer {
		font-family: var(--gle_font_family--p);
	}
	@media screen and (min-width: 992px) {
		.pay-button-wrapper {
			display: flex;
			justify-content: left;
		}
	}

	button.checkout-button-1,
	button {
		@include checkoutBase.btn;
		padding: 0.8rem 1.7rem;
		font-size: 0.9rem !important;
		max-height: 50px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		height: auto;
	}
}

#secureContainer {
	.form-horizontal {
		input,
		#expDateRow div {
			border-radius: var(--gle_props_input-bRadius);
		}
	}
}
