$gle_email_font-family: Arial, Helvetica, sans-serif;
$gle_email_color_black: #000;
$gle_email_color_white: #fff;
$gle_email_color_grey: #d9d9d6;
$gle_email_color_primary: #cd627d;
$gle_email_color_secondary: #ecc7cd;

.PreHeaderWrapper {
	background-color: $gle_email_color_primary;
}

font.PreHeader {
	font-family: $gle_email_font-family;
	color: $gle_email_color_white;
}

tbody:nth-last-of-type(2) tr:nth-of-type(2) > img {
	padding: 75px 0;
}

.Titles,
.Content,
.OrderDetailsTitles,
.OrderDetailsContent,
.ShipmentItems,
.OrderLines,
.OrderSummary,
.Total {
	color: $gle_email_color_black;
	font-family: $gle_email_font-family;
}

.OrderDetailsTitles {
	font-weight: 800;
}

.OrderDetailsContent {
	font-weight: 400;
}

.Total {
	color: $gle_email_color_white;
	font-weight: 500;
}
