@use './_partials/popupsBase';

#globalePopupWrapper.globale_popup_wrapper {
	display: flex;
	justify-content: center;

	#globale_popup,
	#globale_csc_popup {
		margin: 0 !important;
		top: unset;
		left: unset;
		align-self: center;

		.gePopupsContainer {
			background: var(--gle_props_popups_color_bg);
			font-family: var(--gle_font_family--p);
			max-width: 325px;
			@media screen and (min-width: 400px) {
				max-width: 380px;
			}
			@media screen and (min-width: 576px) {
				max-width: 500px;
			}
			@media screen and (min-width: 768px) {
				max-width: 740px;
			}
			color: var(--gle_props_popups_color_text);

			.CustomWelcomePopup,
			.CustomSwitcherPopup {
				@include popupsBase.borderStyle;
				.glDefaultPopupContainer {
					padding: 0 2rem;
					display: flex;
					flex-flow: column-reverse nowrap;
					gap: 1.2rem;

					.glCloseWrapper {
						display: flex;
						flex-flow: row-reverse nowrap;

						button {
							background: none;
							font-size: 100%;
							font-family: inherit;
							border: 0;
							padding: 0;
							line-height: 1.15;
							margin: 0;
							overflow: visible;
							text-transform: none;
							appearance: button;
							width: 44px;
							height: 44px;
							position: absolute;

							&:focus,
							&:focus-visible {
								outline: 0;
								box-shadow: none;

								& > .glClose {
									border: 1px solid var(--gle_color_black);
								}
							}

							span.glClose {
								color: unset;
								text-decoration: unset;
								background: unset;
								position: absolute;
								right: 1.5rem;
								top: 0.4rem;
								width: 32px;
								height: 32px;
								opacity: 1;
								cursor: pointer;

								// &:hover {
								// 	opacity: 1;
								// }

								&:before,
								&:after {
									position: absolute;
									left: 15px;
									content: ' ';
									height: 32px;
									width: 2px;
									background-color: var(--gle_color_white);
								}
								&:before {
									transform: rotate(45deg);
								}
								&:after {
									transform: rotate(-45deg);
								}
							}
						}
					}

					.glPopupContainer {
						display: flex;
						flex-flow: column nowrap;

						.glLogo {
							box-sizing: border-box;
							padding: 1.5rem 2rem;
							display: flex;
							flex-flow: column;

							img {
								max-width: 100%;
								max-height: 60px;
								margin: 0 auto;
							}
						}

						.glTitle {
							font-family: var(--gle_font_family--h);
							font-size: 2.5rem;
							text-align: center;
							text-transform: none;
							margin: 2rem;

							// @media screen and (min-width: 400px) {
							// 	font-size: 1.5rem;
							// }
							// @media screen and (min-width: 576px) {
							// 	font-size: 1.75rem;
							// }
							// @media screen and (min-width: 768px) {
							// 	font-size: 2rem;
							// }
						}

						.glMainContent {
							display: flex;
							flex-flow: column nowrap;
							margin: 1rem 0;
						}
					}

					.glControls {
						margin: 1.2rem 0;
						display: flex;
						flex-flow: column nowrap;

						.glSaveBtn,
						.backToShop {
							@include popupsBase.btn;
							font-size: 0.93rem;
							line-height: 1.12;
							align-self: center;
							width: 100%;
						}

						.glCancelBtn,
						.changeShipping {
							border: 0;
							background: none;
							text-decoration: underline;
							margin-top: 1rem;
							color: var(--gle_props_popups_color_links);
							text-transform: uppercase;
							font-size: 0.79012rem;
							font-family: var(--gle_font_family--s);
							letter-spacing: 0.18rem;
							text-align: center;
							margin-bottom: 2rem;
							text-underline-offset: 6px;
							text-decoration-thickness: 2px;
							text-shadow: 1px 1px 2px black;
							text-rendering: optimizelegibility;
							cursor: pointer;
						}
					}
				}
			}

			.CustomWelcomePopup {
				.glDefaultPopupContainer {
					.glPopupContainer {
						.texts {
							display: flex;
							flex-flow: column nowrap;
							margin: 1rem 0;
							align-items: center;

							.glMainContent {
								font-size: 0.857rem;
								text-transform: none;
								text-align: inherit;
								letter-spacing: 2.4px;
								line-height: 1;
								font-family: var(--gle_font_family--s);
								letter-spacing: 0.1rem;
								font-size: 0.79012rem;
								text-transform: uppercase;
								letter-spacing: 4px;
								ul {
									margin: 0;
									margin-top: 1rem;

									li {
										list-style: none;
										text-align: inherit;
										font-size: 1rem;
										line-height: 1.124;
										text-transform: none;
										letter-spacing: 0;
										font-family: var(--gle_font_family--p);
									}
								}
								display: none;
								&.mobile {
									display: block;
								}

								@media screen and (min-width: 576px) {
									display: block;
									&.mobile {
										display: none;
									}
								}
							}
						}
					}

					.glControls {
						display: flex;
						flex-flow: column nowrap;

						// .glCancelBtn,
						// .changeShipping {

						// }
					}
				}
			}

			.CustomSwitcherPopup {
				@media screen and (min-width: 768px) {
					max-width: 500px;
				}
				.glDefaultPopupContainer {
					.glPopupContainer {
						.glTitle {
							align-self: center;
							text-transform: none;
							letter-spacing: 0;
							line-height: 2.2;
						}
						.glMainContent {
							gap: 1.2rem;
							align-items: center;

							#ge_countryRow,
							#ge_currencyrow {
								max-width: 325px;
								display: flex;
								flex-flow: column nowrap;
								width: 100%;

								.caption {
									margin-bottom: 0.5rem;
									font-size: 0.857rem;
									letter-spacing: 2.4px;
									line-height: 1;
								}

								.dropdown {
									opacity: 1 !important;

									select {
										@include popupsBase.selectInput;
									}
								}
							}
						}
					}
					.glControls {
						margin: 0 0 2.8rem;
						max-width: 325px;
						align-self: center;
						width: 100%;

						.glSaveBtn {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
