@use './_partials/portalsBase';

@font-face {
	font-family: 'DrukWide-Medium';
	src: url('https://s3.global-e.com/merchantscontent/Carel/fonts/DrukWide-Medium.otf');
	font-weight: 400;
}

* {
	font-family: var(--gle_font_family--p) !important;
	font-weight: 400;
}
.returns-portal {
	display: flex;
	flex-flow: column wrap;
	h1,
	h2 {
		font-family: var(--gle_font_family--h) !important;
		color: var(--gle_color_text);
	}
	h1 {
		width: 100%;
		font-weight: 500;
		.LangSelectionLabel {
			font-weight: 400;
		}
	}

	h2 .stepHeaderText {
		font-family: var(--gle_font_family--h) !important;
		font-size: 1.45rem;
		font-weight: 400;
	}
	& > .step {
		max-width: 100%;
		.boxed {
			border-radius: var(--gle_props_border-radius);
		}
	}
	button,
	.button {
		box-sizing: content-box;
		background-color: var(--gle_color_black);
		border-radius: 0;
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
		color: var(--gle_color_white);
		border: 1px solid var(--gle_props_border-color);
		padding: 1rem 13px;
		font-family: var(--gle_font_family--h) !important;
		font-size: 1.0625rem;
		letter-spacing: var(--gle_props_ltr-spacing--btn);
		appearance: none;
		font-weight: 500;

		&:hover,
		&:focus {
			color: var(--gle_color_text);
			background-color: var(--gle_color_white);
			border: 1px solid var(--gle_props_border-color--hover);
			outline: none;
		}
		&#print-label {
			background-color: #f4f3f3;
			border: 1px solid var(--gle_props_border-color);
			margin-bottom: 25px;
		}
	}

	.logo {
		background: url(https://s3.global-e.com/merchantscontent/Carel/Carel1952.png)
			center no-repeat;
		height: 130px;
		margin: 20px;
		background-position: center;
		width: inherit !important;
		img {
			display: none;
		}
	}
	.formRow {
		margin: 0.75em 0;
		.label {
			font-size: 0.9375rem;
		}
		input {
			border-radius: 0;
		}
		.help {
			color: var(--gle_color_text);
		}
	}
	.order-status .current,
	.parcel-status .current {
		background-image: linear-gradient(
			to right,
			var(--gle-lighter-black) 0%,
			#70809075 66%,
			#7080903d 82%,
			#7080900e 100%
		);
		padding-right: 3px;
		color: var(--gle_color_white);
	}
	.active .processing.status-icon,
	.delivered.active.current .status-icon,
	.active.current .status-icon,
	.active .status-icon {
		background-color: var(--gle_color_black--light);
	}
	.arrow-up {
		border-bottom: 10px solid var(--gle_color_black);
	}
	.arrow-down {
		border-top: 10px solid var(--gle_color_black);
	}
	select {
		border: 1px solid var(--gle_color_white--accent);
		padding: 0.2rem;
	}
	.return-methods {
		@media screen and (min-width: 800px) {
			justify-content: left;
			margin-left: 3.5rem;
		}
	}
}
