@use './_partials/portalsBase.scss';

* {
	font-family: var(--gle_font_family--p) !important;
	font-weight: 400;
}
.orders-tracking {
	display: flex;
	flex-flow: column wrap;
	h1 {
		font-family: var(--gle_font_family--h) !important;
		font-weight: 500;
	}

	button,
	.button {
		box-sizing: content-box;
		background-color: var(--gle_color_black);
		border-radius: 0;
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
		color: var(--gle_color_white);
		border: 1px solid var(--gle_props_border-color);
		padding: 1rem 13px;
		font-family: var(--gle_font_family--h) !important;
		font-size: 1.0625rem;
		letter-spacing: var(--gle_props_ltr-spacing--btn);
		appearance: none;
		font-weight: 500;

		&:hover,
		&:focus {
			color: var(--gle_color_text);
			background-color: var(--gle_color_white);
			border: 1px solid var(--gle_props_border-color--hover);
			outline: none;
		}
	}

	.logo {
		background: url(https://s3.global-e.com/merchantscontent/Carel/Carel1952.png)
			center no-repeat;
		height: 130px;
		margin: 20px;
		background-position: center;
		width: inherit !important;
		img {
			display: none;
		}
	}
	.formRow {
		margin: 0.75em 0;
		.label {
			font-size: 0.9375rem;
		}
		input {
			border-radius: 0;
		}
		.help {
			color: var(--gle_color_text);
		}
	}
	.order-status .current,
	.parcel-status .current {
		background-image: linear-gradient(
			to right,
			var(--gle_color_black--light) 0%,
			#708090b3 66%,
			#708090 82%,
			#7080900e 100%
		);
		padding-right: 3px;
		color: var(--gle_color_white);
	}
	.active .processing.status-icon,
	.delivered.active.current .status-icon,
	.active.current .status-icon,
	.active .status-icon {
		background-color: var(--gle_color_black--light);
	}
	#trackForm {
		.titleLabel {
			color: var(--gle_color_text);
		}
		.product-name {
			font-size: 0.9rem;
			font-family: var(--gle_font_family--h) !important;
			font-weight: 400;
		}
	}
}
